@import "~bootstrap/scss/bootstrap.scss";


.cont{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.text-cont{
    font-size: 60px;
    text-align: center;
    
    
}

.icon-up, .icon-down{
    font-size: 60px;
    margin: 0 50px 0 50px;

}
.icon-down{
    float: right;
}